.aiWrapper{
    position:absolute;
    width: 600px;
    left: -265px;
    height: 325px;
    z-index: 10;
    top: 50px;
    color: white;
    font-family: Neuton;
}

.aiWrapper__topText{
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aiWrapper__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}
