/* 
CSS by Alex Cassell
http://alexcassell.com
*/

@font-face {
  font-family: EnchantedLand;
  src: url(../fonts/EnchantedLand.otf);
}

@font-face {
  font-family: Neuton;
  src: local('?'), 
  url('../fonts/Neuton-Regular.ttf') format('truetype'),
  
} 

body {
  font-family: EnchantedLand;
  overflow:hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body_altFont {
  font-family: Neuton;
}

.body__time {
color: #276b20;
}


a:link, a:visited {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App__title {
  font-size: 2.5em;
  position: absolute;
  top: 10px;
  left: 500px;
  margin: auto;
}

.App__logo {
  height: 80px;
  left: 5px;
  top: 5px;
  position: absolute;
}

.App__header {
  background-color: #276b20;
  font-size: 20pt;
  height: 50px;
  padding: 20px;
  color: white;
}

.App__header__login {
  position: absolute;
  font-size: 20pt;
  right: 5px;
  top: 5px;
}

.login .register {
  position: absolute;
  float: left;
  text-decoration: none;
}

.loginPopUp {
  visibility: hidden;
  overflow:hidden;
  width: 300px;
  height: 200px; 
  font: 12px;   
  background-color: #62A35B;
  border: solid #042F00 3px;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  right: 0px;
  position: absolute;
  z-index: 2;
}

.login:hover .loginPopUp {
  visibility: visible;
}

.registerPopUp {
  visibility: hidden;
  overflow:hidden;
  border: solid #042F00 3px;
  width: 300px;
  height: 400px; 
  font: 12px;   
  background-color: #62A35B;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  right: 0px;
  position: absolute;
  z-index: 2;
}

.register:hover .registerPopUp {
  visibility: visible;
}

.gameBox{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: calc(100% - 90px);
  border: solid #042F00 3px;
  width: calc(100% - 6px);
  background: #18504C;
}

.gameBox__advanceGame {
  position: absolute;
  left: 650px;;
  top: 120px;  
  z-index: 1;
}

.gameBox__chatroom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  border-right:solid #042F00 3px;
  background: #80262A;
  width: 15%;
  overflow-wrap: break-word;
}

.gameBox__chatroom__text {
  font-family: Neuton;
  text-align: left;
  color: white;
  position: absolute;
  padding: 5px;
}

.gameBox__chatroom__screenName {
  color:white;
  font-weight: bold;
}

.gameBox__playerStats {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
  border-left:solid #042F00 3px;
  background: #834F27;
  width: 15%;
  overflow-wrap: normal;
}

.gameBox__board {
  position: absolute;
  top: 30px;
  right: 0px;
  height: calc(100% - 60px);
  width: calc(85% - 70px);
}

.gameBox__board__avatarPadding {
  padding-top: 5px;
}

.gameBox__board__pickCharacter {
  width: 300px;
  height: 200px; 
  font-size: 20px;
  top: 75px;
  left: -120px;
  position: absolute;
  display: block;
  border-radius: 6px;
  background-color: #62A35B;
  border: solid #042F00 3px;
  color: white;
  text-align: center;
  padding: 5px;
  z-index: 2;
}

.gameBox__advanceGame__increment{
  position: absolute;
  font-family: Neuton;
  border-radius: 6px;
  font-size: 20pt;
  width: 600px;
  height: 50px;
  left: -260px;
}

.gameBox__board__pickCharacter__holder__characters__button {
  padding: 5px;
  background-color: #62A35B;
  border-radius: 6px;
  border: none;
  z-index: 2;
}

.gameBox__board__pickCharacter__holder__characters__button:focus{
  background-color: #80262A;
}

.gameBox__board__pickCharacter__holder {
  position: relative;
  margin: auto;
  float: left;
  padding-bottom: 3px;
}

.gameBox__board__pickCharacter__holder__characters {
  position: relative;
  padding: 5px;
  float: left;
  width: 64px;
  height: 64px;
}

.gameBox__board__opponents{
  z-index: 3;
  position:relative;
  top: 100px;
  left: -80px;
  border: solid 3px #042F00;
  background-color: #62A35B;
  border-radius: 6px;
  padding: 25px;
}

.gameBox__board__opponents__text{
  position:absolute;
  top: -70px;
  color: white;
  z-index: 10;
  font-family: Neuton;
}

.gameBox__board__controls {
  position: absolute;
  margin: auto;
  border: solid 3px #042F00;
  background-color: #447B77;
  width: calc(100% - 426px);
  height: calc(100% - 174px);
  top: 86px;
  left: 86px;
}

.gameBox__board__controls__playButton {
  position:absolute;
  width: 25%;
  height: 25%;
  left: calc(50% - 80px);
  top: calc(50%);
  margin: auto;
  font-size: 20pt;
  background-color: #A16D44;
  border: solid 3px #042F00;
}

button:focus { 
  outline: none; 
}

.gameBox__board__controls__playButton:hover {
  color: #447B77;
  background-color: #5C0E12;
}

.gameBox__board__controls__playButton :active {
  background-color: #9F4348;
}

.gameBox__board__topRow {
  position:absolute;
  height: 75px;
  width: 100%;
  top: 0px;
}

.gamebox__board__leftRow {
  position:absolute;
  width: 75px;
  height: 100%;
  top: 10px;
}

.gamebox__board__rightRow {
  position:absolute;
  width: 75px;
  height: 100%;
  top: 10px;
  left: 747px;
}



.gameBox__board__town {
  position: relative;
  background-color: #447B77;
  float:left;
  border-top-left-radius: 6px;
  margin:auto;
  color: white;
  font-size: 50pt;
  border: solid 3px #A16D44 ;
  height: 80px;
  width: 80px;
}

.gameBox__board__space {
  position: relative;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTwo {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceThree {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceFour {
  position: relative;
  background-color: #80262a;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceFive {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceSix {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceSeven {
  position: relative;
  background-color: #447B77;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceEight {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceNine {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTen {
  position: relative;
  background-color: #80262a;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
  border-top-right-radius: 6px;
}

.gameBox__board__SideSpace {
  position: relative;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceEleven {
  position: relative;
  background-color: #62a35b;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceTwelve {
  position: relative;
  background-color: #62a35b;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceThirteen {
  position: relative;
  background-color: #eec6a7;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceFourteen {
  position: relative;
  background-color: #eec6a7;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceFifthteen {
  position: relative;
  background-color: #447B77;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
  border-bottom-right-radius: 6px;
}

.gameBox__board__spaceSixteen {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceSeventeen {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceEighteen {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceNineteen {
  position: relative;
  background-color: #80262a;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTwenty {
  position: relative;
  background-color: #62a35b;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTwentyOne {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTwentyTwo {
  position: relative;
  background-color: #447B77;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__spaceTwentyThree {
  position: relative;
  background-color: #eec6a7;
  float:left;
  margin:auto;
  border-right:solid #A16D44 3px;
  border-top:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}
/* space twenty-four */
.gameBox__board__bottomRow__leftCorner {
  position: relative;
  background-color: #447B77;
  float:left;
  margin:auto;
  border:solid #A16D44 3px;
  height: 80px;
  width: 80px;
  border-bottom-left-radius: 6px;
}

.gameBox__board__SideSpaceTwentyFive {
  position: relative;
  background-color: #62a35b;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceTwentySix {
  position: relative;
  background-color: #eec6a7;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceTwentySeven {
  position: relative;
  background-color: #eec6a7;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

.gameBox__board__SideSpaceTwentyEight {
  position: relative;
  background-color: #62a35b;
  top: 75px;
  border-right:solid #A16D44 3px;
  border-left:solid #A16D44 3px;
  border-bottom:solid #A16D44 3px;
  height: 80px;
  width: 80px;
}

/* .gameBox__board__space__portrait {

} */

.gameBox__board__bottomRow {
  position:absolute;
  height: 75px;
  width: 100%;
  top: 415px;
}

h2 {
  text-align: center;
}
.gamebox__gameofChanceWrapper{
  position:absolute;
  width: 600px;
  left: -265px;
  height: 325px;
  z-index: 10;
  top: 70px;
  color: white;
  font-family: Neuton;
}

.gamebox__gameofChanceWrapper__topText{
  position:absolute;
  top: -30px;
}

.gamebox__gameofChanceWrapper__bottomText{
  position:absolute;
  bottom: 50px;
  left: 60px;
}
.gamebox__gameofChanceWrapper__numbersWrapper {
  /* border: solid 3px white; */
  position:absolute;
  height: 250px;
  left: 150px;
  width: 400px;
  z-index: 10;
}

.gamebox__gameofChanceWrapper__numbersWrapperNumber{
  position:relative;
  float: left;
  margin: auto;
  font-size: 100px;
  height: 250px;
  width: 100px;
}

/* Market */
.gamebox__marketWrapper {
  position: absolute;
  left: -200px;
  top: 30px;
  color: white;
  font-family: Neuton;
  width: 500px;
  height: 100%;
}

.gamebox__marketWrapper__topText {

}

.gamebox__marketWrapper__imageWrapper {
  position: absolute;
  width: 500px;
  height: 100%;
}

.gamebox__marketWrapper__imageWrapper__goldBarsWrapper {
  position: absolute;
  width: 128px;
  left: 0px;
}

.gamebox__marketWrapper__imageWrapper__goldBarsWrapper__image {

}

.gamebox__marketWrapper__imageWrapper__goldBarsWrapper__price {

}

.gamebox__marketWrapper__imageWrapper__lumberWrapper {
  position: absolute;
  width: 128px;
  left: 35%;
}

.gamebox__marketWrapper__imageWrapper__lumberWrapper__image {

}

.gamebox__marketWrapper__imageWrapper__lumberWrapper__price {

}

.gamebox__marketWrapper__imageWrapper__foodWrapper {
  position: absolute;
  width: 128px;
  right: 0px;
  }
  
  .gamebox__marketWrapper__imageWrapper__foodWrapper__image {
  
  }
  
  .gamebox__marketWrapper__imageWrapper__foodWrapper__price {
  
  }

