@font-face {
    font-family: Neuton;
    src: local('?'), 
    url('../fonts/Neuton-Regular.ttf') format('truetype'),
} 

.cardWrapper{
    position:absolute;
    width: 600px;
    left: -265px;
    height: 325px;
    z-index: 10;
    top: 70px;
    color: white;
    font-family: Neuton;
}

.cardWrapper__topText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardWrapper__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
}
